.calendar-header {
  display: flex;
  position: relative;
  padding: 5%;
  justify-content: space-between;
  align-items: center;

  height: 5vh;
}

.calendar-footer {
  display: block;
  position: fixed;
  bottom: 50px;

  justify-content: space-between;
  align-items: center;

  height: 5vh;
}

.footer-buttons {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  bottom: 40px;
  width: 80vw;
  height: 50px;

}

.toggle-group {
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(247, 246, 246, 1);

  position: relative;
  height: 70%;

  width: fit-content;

  border-radius: 8px;
  border: 2.5px solid rgba(247, 246, 246, 1);
}

mat-button-toggle {
  padding: 5px;
  background-color: rgba(247, 246, 246, 1);
  border-width: 1px;
}

.mat-button-toggle.mat-button-toggle-checked {
  background-color: white;
  color: rgba(16, 95, 187, 1);
}

::ng-deep .mat-calendar-content .mat-calendar-table tr:not(:first-child) td {
  border-top: 1px solid rgba(228, 228, 228, 1);
}

::ng-deep .mat-calendar .mat-calendar-table .mat-calendar-body-cell {
  height: 60%;
  width: 60%;
  margin-left: 10%;
  margin-right: 10%;
}

::ng-deep
  .mat-calendar
  .mat-calendar-body
  .mat-calendar-body-cell
  .mat-calendar-body-selected {
  background-color: rgba(16, 95, 187, 1);
}

#icon {
  width: 25vw;
}

.button-container {
  display: block;
  padding-right: 7.5%;
  text-align: right;
}

.plus-icon {
  background-color: white;
  color: rgba(16, 95, 187, 1);
}

.plus-icon .mat-icon {
  font-weight: bold;
}

.demo-inline-calendar-card {
  width: 100%;
  box-shadow: none;
  border: none;
}

.toggle-group {
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(247, 246, 246, 1);

  position: relative;
  height: 70%;

  width: fit-content;

  border-radius: 8px;
  border: 2.5px solid rgba(247, 246, 246, 1);
}

mat-button-toggle {
  padding: 5px;
  background-color: rgba(247, 246, 246, 1);
  border-width: 1px;
}

.mat-button-toggle.mat-button-toggle-checked {
  background-color: white;
}

::ng-deep .mat-calendar-content .mat-calendar-table tr:not(:first-child) td {
  border-top: 1px solid rgba(228, 228, 228, 1);
}

::ng-deep .mat-calendar .mat-calendar-table .mat-calendar-body-cell {
  height: 60%;
  width: 60%;
  margin-left: 10%;
  margin-right: 10%;
}

::ng-deep
  .mat-calendar
  .mat-calendar-body
  .mat-calendar-body-cell
  .mat-calendar-body-selected {
  background-color: rgba(16, 95, 187, 1);
}

.button-container {
  display: block;
  padding-right: 7.5%;
  text-align: right;

  position: absolute;
  bottom: 0;
  right: 0;
}

.plus-icon {
  background-color: white;
  color: rgba(16, 95, 187, 1);
}

.plus-icon .mat-icon {
  font-weight: bold;
}

.pop-up {
  position: fixed;
  top: 15vh;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 2;
  border-radius: 10vw;
  box-sizing: border-box;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
  padding: 4vw;

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-y: scroll;

}

#pull-icon {
  width: 10vw;
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.3);
}

.avo-field {
  display: block;
}

mat-form-field {
  width: 85vw;
  height: 75px;
  background-color: white !important;
}

.scrollable {
  position: relative;
  max-height: 50vh;
  overflow-y: auto;
}
