<mat-card class="demo-inline-calendar-card">
  <div class="calendar-header">
    <img id="icon" src="\assets\Kalendar.png" alt="Kalendar" />
    <mat-button-toggle-group
      (change)="onChangeValue($event)"
      name="fontStyle"
      aria-label="Font Style"
      class="toggle-group"
    >
      <mat-button-toggle value="day">Heute</mat-button-toggle>
      <mat-button-toggle value="month">W</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div [ngSwitch]="startView">
    <div *ngSwitchCase="'day'" id="day-calender-div">
      <mwl-calendar-day-view [viewDate]="viewDate" [events]="events">
      </mwl-calendar-day-view>
    </div>

    <mat-calendar
      *ngSwitchCase="'month'"
      [(selected)]="selected"
      [startView]="startView"
      [startAt]="startAt"
      panelClass="custom-calendar"
    ></mat-calendar>
  </div>
  <div class="button-container">
    <button mat-fab class="plus-icon">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div *ngIf="popUp" class="pop-up">
    <button id="pull-icon"></button>

    <div class="calendar-header">
      <mat-button-toggle-group
        (change)="onChangeValue($event)"
        name="fontStyle"
        aria-label="Font Style"
        class="toggle-group"
      >
        <mat-button-toggle value="new">Neuer Termin</mat-button-toggle>
        <mat-button-toggle value="delete">Abwesenheit</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
</mat-card>
