<div class="clanedar-box">
  <div class="calendar-header">
    <img id="icon" src="\assets\Kalendar.png" alt="Kalendar" />
    <mat-button-toggle-group
      value="Monat"
      name="fontStyle"
      aria-label="Font Style"
      class="toggle-group"
    >
      <mat-button-toggle value="Heute">Heute</mat-button-toggle>
      <mat-button-toggle value="Woche">W</mat-button-toggle>
      <mat-button-toggle value="Monat">M</mat-button-toggle>
      <mat-button-toggle value="Jahr">J</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <mat-card class="demo-inline-calendar-card">
    <mat-calendar
      [(selected)]="selected"
      [startView]="startView"
      [startAt]="startAt"
      panelClass="custom-calendar"
    ></mat-calendar>

    <div class="button-container">
      <button mat-fab class="plus-icon">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-card>
  <!-- <p>Selected date: {{ selected?.getDate }}</p> -->
</div>
