<div class="clanedar-box">
  <div class="calendar-header">
    <img id="icon" src="\assets\Kalendar.png" alt="Kalendar" />
    <mat-button-toggle-group
      value="Heute"
      name="fontStyle"
      aria-label="Font Style"
      class="toggle-group"
    >
      <mat-button-toggle value="Heute">Heute</mat-button-toggle>
      <mat-button-toggle value="Woche">W</mat-button-toggle>
      <mat-button-toggle value="Monat">M</mat-button-toggle>
      <mat-button-toggle value="Jahr">J</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <mat-card class="demo-inline-calendar-card">
    <mat-calendar
      class="custom-calendar"
      [(selected)]="selected"
      [startView]="startView"
      [startAt]="startAt"
    ></mat-calendar>
  </mat-card>
  <!-- <p>Selected date: {{ selected?.getDate }}</p> -->
</div>
