.calendar-box {
  position: relative;
  width: 100%;
  display: block;
}

.calendar-header {
  display: flex;
  position: relative;
  padding: 5%;
  justify-content: space-between;
  align-items: center;

  height: 5vh;
}

.demo-inline-calendar-card {
  width: 100%;
  box-shadow: none;
  border: none;
}

.toggle-group {
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(247, 246, 246, 1);

  position: relative;
  height: 70%;

  width: fit-content;

  border-radius: 8px;
  border: 2.5px solid rgba(247, 246, 246, 1);
}

mat-button-toggle {
  padding: 5px;
  background-color: rgba(247, 246, 246, 1);
  border-width: 1px;
}

.mat-button-toggle.mat-button-toggle-checked {
  background-color: white;
}

::ng-deep .mat-calendar-content .mat-calendar-table tr:not(:first-child) td {
  border-top: 1px solid rgba(228, 228, 228, 1);
}

::ng-deep .mat-calendar .mat-calendar-table .mat-calendar-body-cell {
  height: 60%;
  width: 60%;
  margin-left: 10%;
  margin-right: 10%;
}


::ng-deep .mat-calendar .mat-calendar-body .mat-calendar-body-cell .mat-calendar-body-selected {
  background-color:rgba(16, 95, 187, 1);
}




#icon {
  width: 25vw;
}


.button-container{
  display: block;
  padding-right: 7.5%;
  text-align: right;
}

.plus-icon{
  background-color: white;
  color:rgba(16, 95, 187, 1);
}

.plus-icon .mat-icon{
  font-weight: bold;
}

