<div class="clanedar-box">
  <div class="calendar-header">
    <img id="icon" src="\assets\Kalendar.png" alt="Kalendar" />
    <mat-button-toggle-group
      value="Monat"
      name="fontStyle"
      aria-label="Font Style"
      class="toggle-group"
    >
      <mat-button-toggle value="Month">Heute</mat-button-toggle>
      <mat-button-toggle value="Year">W</mat-button-toggle>
      <mat-button-toggle value="Month">M</mat-button-toggle>
      <mat-button-toggle value="Year">J</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <avo-month></avo-month>
</div>
