#frame {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  
  padding: 10px;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vw;
  width: 75vw;

  box-sizing: border-box;
  box-shadow: 1px 2px 4px rgba(16, 23, 54, 0.642);
  border-radius: 5px;
  padding: 10px;
}
